export TOMCAT_HOME=/var/lib/tomcat8/
export WISE_HOME=/opt/github/WISE_2015/aws/WISE_Environment/WiseInstanceLinux/Properties/
export WISE_SSW_HOME=/opt/github/WISE_2015/aws/WISE_Environment/WiseInstanceLinux/Properties/
